.about-services {
    background-color: #000000;
    padding-bottom: 30px;
}

.precio
{
    color: blue;
}

.titulo
{
    font-size: 40px;
    color:white;

}

.titulocifras

{
    font-size: 30px;
    color:  rgb(255, 255, 255);
}

.servicio-cont 
{
    p {color: white;
}
}

.footer1 {
    width: 100%;
    display: inline-block;
    background: rgb(0, 0, 0);
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }

  .footer-distributed {
    background-color: #000000;
    box-shadow: 0 1px 1px 0 #000000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;

    }



